.btn {
    background-color: #d63384 !important;
    color: #ffffff;
    border-color: #d63384;
    font-size: 1.1rem;
}

.boton-footer {
    border: 0px;
    padding: 6px 30px 6px 30px;
    border-radius: 30px;
    color: #686963;
    font-weight: bold;
    font-size: 30px;
}