
h3 {
    font-weight: 100;
    font-size: 3.75rem;
    border-top: -100px;
    color: white;
}

h2 {
    font-size: 2.5rem;
}

.organico h4 {
    font-size: 2.5rem;
    text-align: center;
    padding: 30px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tia {
    padding: 5px 0px 5px 0px;
    font-size: 1rem;
}

.vida {
    font-size: 1rem;
}

.limache h4 {
    font-size: 2.5rem;
    text-align: center;
    padding: 30px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4rem;
}

.sra h2 {
    text-align: center;
    padding: 30px 0 10px 0;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.javiera {
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin-top: -44px;
}

.encargada {
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marido {
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experiencia {
    padding: 10px 0px 10px 0px;
    font-size: 1rem;
}

.sr h2 {
    text-align: center;
    padding: 30px 0 10px 0;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    text-align: center;
}

.negocio h1 {
    font-size: 4rem;
    text-align: center;
    padding: 50px 0 30px 0;
}